@font-face { font-family: Proxima; font-display: swap; font-weight: 300; src: url("ProximaNova/light.otf") format("truetype"); }
@font-face { font-family: Proxima; font-display: swap; font-weight: normal; src: url("ProximaNova/normal.otf") format("truetype"); }
@font-face { font-family: Proxima; font-display: swap; font-weight: 600; src: url("ProximaNova/semibold.otf") format("truetype"); }
@font-face { font-family: Proxima; font-display: swap; font-weight: bold; src: url("ProximaNova/bold.otf") format("truetype"); }
body { padding: 0; margin: 0; text-align: center; font-family: Proxima; }
[hidden] { display: none !important; }
#Stats { height: 8vh; padding-top: 3vh; box-sizing: border-box; }
.main { height: 65vh; }
#Question {
	width: 90vw; font: inherit; font-size: 40px; margin: 40px 0 10px 0;
	-webkit-appearance: none; border: 1px solid transparent; text-align: center;
}
	#Question:hover, #Question:focus { border-color: rgb(150, 150, 150); }
#Directive { font-size: 20px; }
#Number { margin-top: 5px; font-size: 40px; }